body {
    background-image: url('pg.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 50px;
    font-family: Arial, Helvetica, sans-serif;
}

section {
    border: 2px solid #000;
    border-radius: 0.75cm;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.content {
    flex: 1;
    text-align: center;
}

#hobbies {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
  }
  
  .image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('hobbies.png');
    background-size: cover;
    filter: blur(10px);
    z-index: -1;
  }
  
  .content2 {
    position: relative;
    z-index: 1;
    padding: 20px;
    color: rgb(81, 8, 103);

  }

  h1 {
    color: rgb(246, 34, 34);
    font-size: 150%;
  }

  #about_me {
    display: flex;
  } 


  .up {
    font-size: 150%;
  }

  #skills {
    display: flex;
  }

  .skilo {
    width: 100%;
    height: 100%;
    margin: 0;
    object-fit: cover;
    border-bottom-left-radius: 0.75cm;
    border-top-left-radius: 0.75cm;
  }

  .list {
    list-style-type: none;
    padding-left: 0;
    align-items: initial;
  }

.con {
    background-color: rgb(204, 136, 232);
    border-radius: 0.75cm;
    text-align: center;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
    padding-left: 20px;
}

.hobbs {
    display: flex;
}

.toto {
    font-size: xx-large;
}